<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">	
	<Product Id="*" Name="Example Product" Language="1033" Version="1.0.0.0" Manufacturer="Example Company" UpgradeCode="{67B5C071-4E30-4153-88D8-250A97244256}">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Media Id="1" Cabinet="ProductMedia.cab" EmbedCab="yes" />
		
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="ExampleProduct" >
					<Component Id="ExampleProductComponent" Guid="{FB311B1E-D791-4922-9FC9-70E1CAEACF3D}" >
						<CreateFolder />
						<File Id="App" Source="$(var.Product.TargetDir)Product.exe" Vital="yes" DiskId="1" />
					</Component>
				</Directory>
				<Directory Id="ProgramMenuFolder" Name="ProgramMenuFolder">
					<Directory Id="ProgramGroupFolder" Name="Example Product">
						<Component Id="ProgramGroupShortcuts" Guid="{2AAF799F-26A4-4C2F-9719-2B711B69BCBD}" >
							<Condition><![CDATA[COMMANDARGS <> ""]]></Condition>
							<RemoveFolder Id="ProgramGroupFolder" On="uninstall" />
							<Shortcut Id="ExampleProductLink" Name="Example Product" Target="[#App]" Arguments="[COMMANDARGS]" />
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id="ProductFeature" Title="ExampleMSI" Level="1">
			<ComponentRef Id="ExampleProductComponent" />
			<ComponentRef Id="ProgramGroupShortcuts" />
		</Feature>
	</Product>
</Wix>