<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" >
	<?define LibsDir="..\..\Shared\Libs\" ?>
	<Bundle Name="Product Setup" Version="1.0.0.0" Manufacturer="Example Company" UpgradeCode="{21FC4B59-99BE-4617-867C-4620E2E5772F}">

		<BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost" >
			<Payload SourceFile="BootstrapperCore.config" />
			<Payload SourceFile="$(var.LibsDir)WixWPF.dll" />
			<Payload SourceFile="$(var.LibsDir)WixWPF.pdb" />
			<Payload SourceFile="$(var.ProductBA.TargetPath)" />
		</BootstrapperApplicationRef>

		<Variable Name="CommandArgs" bal:Overridable="yes" />

		<Chain>
      <PackageGroupRef Id="NetFx40Web"/>
			<MsiPackage Id="ProductMSI" SourceFile="$(var.ProductMSI.TargetPath)" >
				<MsiProperty Name="COMMANDARGS" Value="[CommandArgs]"/>
			</MsiPackage>
		</Chain>
		
	</Bundle>
</Wix>