<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:vs="http://schemas.microsoft.com/wix/VSExtension" >
  <?define ShortVersion="3.8" ?>
  <?define LongVersion="$(var.ShortVersion).0.0" ?>
  <?define ProductName="Wix WPF" ?>
  <?define Manufacturer="Troy Palacino" ?>
  <?define Shared="..\..\Shared\" ?>
  <Product Id="*" Name="$(var.ProductName)" Language="1033" Version="$(var.LongVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="{00DF778C-6F23-498D-BBFE-A33ECC28D5FE}">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="WixWPFMedia.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="WixWPF" >

          <Component Id="GlobalParamsComponent" Shared="yes" SharedDllRefCount="yes" Guid="{2C624B40-9E25-48E4-B100-5934BB8D5DE3}">
            <File Id="GlobalParams.dll" Source="$(var.Shared)Libs\GlobalParams.dll" Vital="yes" DiskId="1" Assembly=".net" KeyPath="yes" />
          </Component>

          <Component Id="WixWPFEnvVarComponent" Guid="{6EE93D3F-3C59-48CB-A944-C27BB61FF1DE}">
            <Environment Id="WixWPF.EnvVar" Name="WixWPF" Part="all" System="yes" Action="set" Value="[INSTALLFOLDER]" />
          </Component>

          <Directory Id="WixWPFV36Dir" Name="v3.6">
            <Component Id="WixWPFV36Registration" Guid="{50E471F2-CA88-47FF-B8A2-B8929BD4861C}" >
              <RegistryValue Root="HKLM" Key="SOFTWARE\Troy Palacino\WixWPF\v3.6" Value="true" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v3.5\AssemblyFoldersEx\WixWPF v3.6" Value="[WixWPFV36Dir]" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\WixWPF v3.6" Value="[WixWPFV36Dir]" Type="string" />
            </Component>
            <Component Id="WixWPFV36Component" Guid="{21B3A794-3ABC-41E1-90C8-D98F5F1A7D4C}" >
              <CreateFolder/>
              <File Id="WixWPFV36.dll" Source="$(var.Shared)Libs\v3.6\WixWPF.dll" Vital="yes" DiskId="1" />
              <File Id="WixWPFV36.pdb" Source="$(var.Shared)Libs\v3.6\WixWPF.pdb" Vital="yes" DiskId="1" />
              <File Id="WixWPFV36.xml" Source="$(var.Shared)Libs\v3.6\WixWPF.xml" Vital="yes" DiskId="1" />
            </Component>
            <Directory Id="WixWPFv36ExtDir" Name="Extension" />
          </Directory>

          <Directory Id="WixWPFV37Dir" Name="v3.7">
            <Component Id="WixWPFV37Registration" Guid="{41448048-44A1-47FF-9F33-A8D65D60958B}" >
              <RegistryValue Root="HKLM" Key="SOFTWARE\Troy Palacino\WixWPF\v3.7" Value="true" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v3.5\AssemblyFoldersEx\WixWPF v3.7" Value="[WixWPFV37Dir]" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\WixWPF v3.7" Value="[WixWPFV37Dir]" Type="string" />
            </Component>
            <Component Id="WixWPFV37Component" Guid="{E2DEAD2E-760A-48E7-963A-E22F68A7E505}" >
              <CreateFolder/>
              <File Id="WixWPFV37.dll" Source="$(var.Shared)Libs\v3.7\WixWPF.dll" Vital="yes" DiskId="1" />
              <File Id="WixWPFV37.pdb" Source="$(var.Shared)Libs\v3.7\WixWPF.pdb" Vital="yes" DiskId="1" />
              <File Id="WixWPFV37.xml" Source="$(var.Shared)Libs\v3.7\WixWPF.xml" Vital="yes" DiskId="1" />
            </Component>
            <Directory Id="WixWPFv37ExtDir" Name="Extension" />
          </Directory>

          <Directory Id="WixWPFV38Dir" Name="v3.8">
            <Component Id="WixWPFV38Registration" Guid="{EDC409A8-80C9-4424-A04B-961D14BADAAD}" >
              <RegistryValue Root="HKLM" Key="SOFTWARE\Troy Palacino\WixWPF\v3.8" Value="true" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v3.5\AssemblyFoldersEx\WixWPF v3.8" Value="[WixWPFV38Dir]" Type="string" />
              <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\v4.0.30319\AssemblyFoldersEx\WixWPF v3.8" Value="[WixWPFV38Dir]" Type="string" />
            </Component>
            <Component Id="WixWPFV38Component" Guid="{44B5282D-0618-4115-A2DF-749B893D4349}" >
              <CreateFolder/>
              <File Id="WixWPFV38.dll" Source="$(var.Shared)Libs\v3.8\WixWPF.dll" Vital="yes" DiskId="1" />
              <File Id="WixWPFV38.pdb" Source="$(var.Shared)Libs\v3.8\WixWPF.pdb" Vital="yes" DiskId="1" />
              <File Id="WixWPFV38.xml" Source="$(var.Shared)Libs\v3.8\WixWPF.xml" Vital="yes" DiskId="1" />
            </Component>
            <Directory Id="WixWPFv38ExtDir" Name="Extension" />
          </Directory>
          
        </Directory>
        <Directory Id="VS2010InstallDir" Name="Microsoft Visual Studio 10.0">
          <Directory Id="Vs2010Common7Dir" Name="Common7">
            <Directory Id="Vs2010IDEDir" Name="IDE">
              <Directory Id="Vs2010ProjectTemplates" Name="ProjectTemplates">
                <Directory Id="Vs2010ProjectTemplatesWix" Name="Wix">
                  <Directory Id="Vs2010ProjectTemplatesProduct" Name="$(var.ProductName)" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="VS2012InstallDir" Name="Microsoft Visual Studio 11.0">
          <Directory Id="Vs2012Common7Dir" Name="Common7">
            <Directory Id="Vs2012IDEDir" Name="IDE">
              <Directory Id="Vs2012ProjectTemplates" Name="ProjectTemplates">
                <Directory Id="Vs2012ProjectTemplatesWix" Name="Wix">
                  <Directory Id="Vs2012ProjectTemplatesProduct" Name="$(var.ProductName)" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="VS2013InstallDir" Name="Microsoft Visual Studio 12.0">
          <Directory Id="Vs2013Common7Dir" Name="Common7">
            <Directory Id="Vs2013IDEDir" Name="IDE">
              <Directory Id="Vs2013ProjectTemplates" Name="ProjectTemplates">
                <Directory Id="Vs2013ProjectTemplatesWix" Name="Wix">
                  <Directory Id="Vs2013ProjectTemplatesProduct" Name="$(var.ProductName)" />
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="WixWPFFeature" Title="WixWPF" Level="0">
      <Condition Level="1"><![CDATA[(ENABLE36 = 1) OR (ENABLE37 = 1) OR (ENABLE38 = 1)]]></Condition>
      <ComponentRef Id="GlobalParamsComponent" />
      <ComponentRef Id="WixWPFEnvVarComponent" />
      <Feature Id="WixWPFV36Feature" Title="v3.6" Level="0">
        <Condition Level="1"><![CDATA[ENABLE36 = 1]]></Condition>
        <ComponentRef Id="WixWPFV36Component" />
        <ComponentRef Id="WixWPFV36Registration" />
        <Feature Id="WixWPFV36VSIX" Title="Visual Studio Integration" Level="0">
          <Condition Level="1"><![CDATA[DEPLOYVS = 1]]></Condition>
          <Feature Id="WixWPFv36VSIX_VS2010" Title="2010" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE36 = 1 AND NOT PATHVS2010 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF36_VS2010Extension" />
          </Feature>
          <Feature Id="WixWPFv36VSIX_VS2012" Title="2012" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE36 = 1 AND NOT PATHVS2012 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF36_VS2012Extension" />
          </Feature>
          <Feature Id="WixWPFv36VSIX_VS2013" Title="2013" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE36 = 1 AND NOT PATHVS2013 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF36_VS2013Extension" />
          </Feature>
        </Feature>
      </Feature>
      <Feature Id="WixWPFV37Feature" Title="v3.7" Level="0">
        <Condition Level="1"><![CDATA[ENABLE37 = 1]]></Condition>
        <ComponentRef Id="WixWPFV37Component" />
        <ComponentRef Id="WixWPFV37Registration" />
        <Feature Id="WixWPFV37VSIX" Title="Visual Studio Integration" Level="0">
          <Condition Level="1"><![CDATA[DEPLOYVS = 1]]></Condition>
          <Feature Id="WixWPFv37VSIX_VS2010" Title="2010" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE37 = 1 AND NOT PATHVS2010 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF37_VS2010Extension" />
          </Feature>
          <Feature Id="WixWPFv37VSIX_VS2012" Title="2012" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE37 = 1 AND NOT PATHVS2012 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF37_VS2012Extension" />
          </Feature>
          <Feature Id="WixWPFv37VSIX_VS2013" Title="2013" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE37 = 1 AND NOT PATHVS2013 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF37_VS2013Extension" />
          </Feature>
        </Feature>
      </Feature>
      <Feature Id="WixWPFV38Feature" Title="v3.8" Level="0">
        <Condition Level="1"><![CDATA[ENABLE38 = 1]]></Condition>
        <ComponentRef Id="WixWPFV38Component" />
        <ComponentRef Id="WixWPFV38Registration" />
        <Feature Id="WixWPFV38VSIX" Title="Visual Studio Integration" Level="0">
          <Condition Level="1"><![CDATA[DEPLOYVS = 1]]></Condition>
          <Feature Id="WixWPFv38VSIX_VS2010" Title="2010" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE38 = 1 AND NOT PATHVS2010 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF38_VS2010Extension" />
          </Feature>
          <Feature Id="WixWPFv38VSIX_VS2012" Title="2012" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE38 = 1 AND NOT PATHVS2012 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF38_VS2012Extension" />
          </Feature>
          <Feature Id="WixWPFv38VSIX_VS2013" Title="2013" Level="0">
            <Condition Level="1"><![CDATA[DEPLOYVS = 1 AND ENABLE38 = 1 AND NOT PATHVS2013 = ""]]></Condition>
            <ComponentGroupRef Id="WixWPF38_VS2013Extension" />
          </Feature>
        </Feature>
      </Feature>
    </Feature>
  </Product>
</Wix>