<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define VsVer=2012 ?>
  <Fragment>
    <ComponentGroup Id="WixWPF36_VS$(var.VsVer)Extension">
      <Component Id="WixWPF36_VS$(var.VsVer)WPFBootstrapperComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{76301EBF-D8F6-4354-9A79-03F82885E363}">
        <File Id="WixWPF36_VS$(var.VsVer)WPFBootstrapperFile" KeyPath="yes" Source="$(var.Ext36)\WPFBootstrapper\WPFBootstrapper.zip" />
      </Component>
      <Component Id="WixWPF36_VS$(var.VsVer)WPFBootstrapperSolutionComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{AC02AF90-9FE4-41BD-93EF-8F423AB62BF5}">
        <File Id="WixWPF36_VS$(var.VsVer)WPFBootstrapperSolutionFile" KeyPath="yes" Source="$(var.Ext36)\WPFBootstrapperSolution\WPFBootstrapperSolution.zip" />
      </Component>
      <Component Id="WixWPF36_VS$(var.VsVer)WPFBootstrapperUIComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{565F76FD-6C3A-4746-A247-783E90CAB2DD}">
        <File Id="WixWPF36_VS$(var.VsVer)WPFBootstrapperUIFile" KeyPath="yes" Source="$(var.Ext36)\WPFBootstrapperUI\WPFBootstrapperUI.zip" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="WixWPF37_VS$(var.VsVer)Extension">
      <Component Id="WixWPF37_VS$(var.VsVer)WPFBootstrapperComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{6B754172-B94E-4F77-BFA5-BA6434F54EB5}">
        <File Id="WixWPF37_VS$(var.VsVer)WPFBootstrapperFile" KeyPath="yes" Source="$(var.Ext37)\WPFBootstrapper\WPFBootstrapper.zip" />
      </Component>
      <Component Id="WixWPF37_VS$(var.VsVer)WPFBootstrapperSolutionComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{CCD4FB50-F3FC-409D-9652-A46416D2824B}">
        <File Id="WixWPF37_VS$(var.VsVer)WPFBootstrapperSolutionFile" KeyPath="yes" Source="$(var.Ext37)\WPFBootstrapperSolution\WPFBootstrapperSolution.zip" />
      </Component>
      <Component Id="WixWPF37_VS$(var.VsVer)WPFBootstrapperUIComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{6CA6C65F-7ED3-46E8-AAC7-14BCEDCCD32D}">
        <File Id="WixWPF37_VS$(var.VsVer)WPFBootstrapperUIFile" KeyPath="yes" Source="$(var.Ext37)\WPFBootstrapperUI\WPFBootstrapperUI.zip" />
      </Component>
    </ComponentGroup>
    
    <ComponentGroup Id="WixWPF38_VS$(var.VsVer)Extension">
      <Component Id="WixWPF38_VS$(var.VsVer)WPFBootstrapperComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{0972A9C4-CC4F-4DF9-9225-825E7E7D991F}">
        <File Id="WixWPF38_VS$(var.VsVer)WPFBootstrapperFile" KeyPath="yes" Source="$(var.Ext38)\WPFBootstrapper\WPFBootstrapper.zip" />
      </Component>
      <Component Id="WixWPF38_VS$(var.VsVer)WPFBootstrapperSolutionComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{E5B3C013-DB45-4C63-875D-228BB6B03FB4}">
        <File Id="WixWPF38_VS$(var.VsVer)WPFBootstrapperSolutionFile" KeyPath="yes" Source="$(var.Ext38)\WPFBootstrapperSolution\WPFBootstrapperSolution.zip" />
      </Component>
      <Component Id="WixWPF38_VS$(var.VsVer)WPFBootstrapperUIComponent" Directory="Vs$(var.VsVer)ProjectTemplatesProduct" Guid="{A26794BA-6CA6-45B4-AF8A-35D1616956D5}">
        <File Id="WixWPF38_VS$(var.VsVer)WPFBootstrapperUIFile" KeyPath="yes" Source="$(var.Ext38)\WPFBootstrapperUI\WPFBootstrapperUI.zip" />
      </Component>
    </ComponentGroup>

    <CustomActionRef Id="VS$(var.VsVer)InstallVSTemplates"/>

    <UI>
      <ProgressText Action="VS$(var.VsVer)InstallVSTemplates" Template="[1]" >Updating Visual Studio $(var.VsVer) Registration</ProgressText>
    </UI>
  </Fragment>
</Wix>